/*
    Styles for all city pages

    author: Brandon Jenkins
*/

header {
    margin: 1rem 0 0.8rem;
}

h1 {
    font-size: 4.2rem;
    font-variant: small-caps;
    font-weight: 200;
    letter-spacing: 1rem;
}

/*
    Styles located inside of each <section>
*/
section {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
    padding: 2.4rem;
    width: 96rem;
    height: 32rem;
    background-color: var(--section-overlay);
    border-radius: 1rem;
}

section > aside {
    margin: 0 2rem;
}

h2 {
    letter-spacing: 0.15rem;
}

h2 > span {
    font-style: italic;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

section ul {
    margin: 2rem 0;
    letter-spacing: 0.1rem;
}

section li {
    margin: 0.5rem 0;
}

/* assignment requirement 'relative positioning in at least one area' */
section cite {
    position: relative;
    left: 18rem;
}

section > img {
    border-radius: 1rem 9rem;
    align-self: center;
}

#cityList {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

/*
    Media Queries
*/

@media (min-width: 2200px) {
    header {
        margin: 2.6rem 0 1.8rem;
    }
    
    h1 {
        font-size: 4.8rem;
        letter-spacing: 1.2rem;
    }
    
    section {
        margin: 3rem 0;
        padding: 4rem 6rem;
        width: 110rem;
        height: 42rem;
    }
    
    h2 {
        font-size: 1.82rem;
        letter-spacing: 0.2rem;
    }
    
    h2 > span {
        font-size: 1.42rem;
        letter-spacing: 0.12rem;
    }
    
    section ul {
        margin: 3rem 0;
    }
    
    section li {
        margin: 0.7rem 0;
        font-size: 1.4rem;
        letter-spacing: 0.14rem;
    }
    
    section cite {
        font-size: 1.18rem;
        left: 22rem;
    }
    
    #cityList {
        font-size: 1.42rem;
        letter-spacing: 0.14rem;
    }
}