/*
    Styles for city pages

    author: Brandon Jenkins
*/

header {
    margin: 1rem 0 0.8rem;
}

h1 {
    font-size: 4.2rem;
    font-variant: small-caps;
    font-weight: 200;
    letter-spacing: 1rem;
}

/*
    Styles located inside of each <section>
*/
section {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
    padding: 2.4rem;
    width: 88rem;
    background-color: var(--section-overlay);
    border-radius: 1rem;
}

section > aside {
    margin: 0 2rem;
}

h2 {
    letter-spacing: 0.15rem;
}

h2 > span {
    font-style: italic;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

section ul {
    margin: 2rem 0;
    letter-spacing: 0.1rem;
}

section li {
    margin: 0.5rem 0;
}

section cite {
    padding-left: 20rem;
}

section p {
    letter-spacing: 0.05rem;
    font-size: 1.05rem;
}

section > img {
    border-radius: 1rem;
    align-self: center;
}
