/*
    Styles for form.html

    author: Brandon Jenkins
*/

header {
    margin-top: 1rem;
}

h1 {
    font-size: 4.2rem;
    font-variant: small-caps;
    font-weight: 200;
    letter-spacing: 1rem;
}

/* assignment requirement 'a float property to position at least one HTML element to the side of another' */
header > h1 {
    float: left;
}

h2 {
    margin-bottom: 1.8rem;
    text-align: center;
    letter-spacing: 0.1rem;
}

section {
    display: flex;
    margin: 3rem 0 2rem;
    padding: 2rem;
    background-color: var(--section-overlay);
    border-radius: 1rem;
}

table {
    align-self: center;
    margin: 0 1rem 0 4rem; /* right margin stacks with form margin */
    padding: 1rem;
    height: 20rem;
    border: 1px solid black;
}

caption {
    margin-bottom: 0.4rem;
    font-size: 1.42rem;
    letter-spacing: 0.1rem;
}

th, td {
    border: 1px solid black;
    padding: 0.2rem;
    width: 10rem;
    height: 3rem;
    text-align: center;
    font-size: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
}

label {
    font-size: 1.4rem;
}

input, textarea {
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: var(--font);
    letter-spacing: 0.05rem;
}

form > p {
    letter-spacing: 0.05rem;
}

form >p > a {
    font-size: 1.2rem;
}

/* width of textarea determines width of the flex column & section width to fit eMsg */
textarea {
    resize: none;
    height: 8rem;
    width: 22.2rem;
}

/* By default, display is none until user types in box, then display is eMsg from `form.js` */
#eMsg {
    display: none;
    padding-left: 0.4rem;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    color: red;
    letter-spacing: 0.1rem;
}

/* assignment requirement 'absolute positioning in at least one area' */
footer {
    position: absolute;
    bottom: 2rem;
    padding: 1rem;
    background-color: var(--nav-overlay);
    border-radius: 1rem;
    font-size: 1.42rem;
    letter-spacing: 0.15rem;
}

/*
    Media Queries
*/

@media (min-width: 2000px) {
    header {
        margin: 2.6rem 0 1.4rem;
    }
    
    h1 {
        font-size: 4.8rem;
    }
    
    h2 {
        font-size: 1.8rem;
        letter-spacing: 0.18rem;
    }
    
    section {
        padding: 3rem 5rem;
    }
    
    table {
        margin: 0 2rem 0 4rem; /* right margin stacks with form margin */
        padding: 1.2rem;
        height: 22rem;
    }
    
    caption {
        margin-bottom: 0.8rem;
        font-size: 1.84rem;
        letter-spacing: 0.15rem;
    }
    
    th, td {
        width: 12rem;
        height: 4rem;
        font-size: 1.4rem;
    }
    
    form {
        margin: 0 8rem;
    }
    
    label {
        margin-top: 1rem;
        font-size: 1.6rem;
    }
    
    input, textarea {
        margin: 0.75rem 0;
        padding: 0.6rem;
        font-size: 1.2rem;
    }
    
    form > p {
        font-size: 1.2rem;
    }
    
    form >p > a {
        font-size: 1.4rem;
    }
    
    textarea {
        height: 9rem;
        width: 26rem;
    }
    
    #eMsg {
        font-size: 1.4rem;
    }
    
    footer {
        bottom: 4rem;
        font-size: 1.6rem;
    }
}