/*
    Global Styles

    author: Brandon Jenkins
*/
:root {
    --font: Oxygen, sans-serif;
    --black-font: black;
    --white-font: whitesmoke;
    --overlay-color: rgba(240, 248, 255, 0.5);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./assets/ten-trees.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black-font);
    font-family: var(--font);
}


/*
    Nav Styles
*/
nav {
    background-color: var(--overlay-color);
    border-radius: 1rem;
    padding: 0 0 1rem;
    letter-spacing: 0.1rem;
}

nav > h2 {
    margin: 2rem;
    text-align: center;
}

nav li {
    display: inline;
    margin: 5rem;
    list-style: none;
}

nav a {
    padding: 1rem;
    text-decoration: none;
    font-size: 1.42rem;
}

nav a:hover {
    color: var(--black-font);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/*
    Media Queries
*/

@media (min-width: 2000px) {
    nav {
        padding: 0 1rem 2rem;
        letter-spacing: 0.15rem;
    }
    
    nav > h2 {
        margin: 3rem;
        font-size: 1.8rem;
    }
    
    nav a {
        padding: 1rem;
        font-size: 1.8rem;
    }
    
}