/*
    Styles for tenneesee.html state page

    author: Brandon Jenkins
*/

header {
    margin: 1rem 0 0.8rem;
}

h1 {
    font-size: 4.2rem;
    font-variant: small-caps;
    font-weight: 200;
    letter-spacing: 1rem;
}

h4 {
    font-style: italic;
    text-align: right;
    padding-right: 1rem;
    font-size: 1.2rem;
}

section {
    margin: 4.2rem 0;
    padding: 0 2rem;
    background-color: var(--section-overlay);
    border-radius: 1rem;
}

section blockquote {
    min-height: 21.6rem;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    line-height: 4rem;
}

cite {
    padding-left: 8rem;
}

section p {
    text-align: right;
    padding-right: 3rem;
    font-size: 1.42rem;
    letter-spacing: 0.15rem;
}

.mark {
  font-size: 3rem;
  font-style: italic;
  letter-spacing: 2rem; 
}

/*
    Media Queries
*/

@media (min-width: 2000px) {

    header {
        margin: 2.4rem 0 1.4rem;
    }
    
    h1 {
        font-size: 6.2rem;
        letter-spacing: 1rem;
    }
    
    h4 {
        font-size: 1.42rem;
        padding-right: 1rem;
    }
    
    section {
        margin: 5rem 0;
        padding: 2rem;
    }
    
    section blockquote {
        min-height: 24rem;
        font-size: 2.2rem;
        letter-spacing: 0.2rem;
        line-height: 4rem;
    }
    
    cite {
        padding-left: 8rem;
    }
    
    .mark {
      font-size: 4.2rem;
      letter-spacing: 2.2rem; 
    }
}